.gdrive-field-container .sprite {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

.gdrive-field-container .col-70,
.gdrive-field-container .col-30 {
  float: left;
}

.gdrive-field-container .col-70 {
  width: 70%;
}

.gdrive-field-container .col-30 {
  width: 30%;
}

.gdrive-field-container .col-100 {
  width: 100%;
}

.gdrive-field-container .sprite-download,
.gdrive-field-container .sprite-drive-download,
.gdrive-field-container .sprite-doc,
.gdrive-field-container .sprite-docx,
.gdrive-field-container .sprite-pdf,
.gdrive-field-container .sprite-xls,
.gdrive-field-container .sprite-xlsx,
.gdrive-field-container .sprite-ppt,
.gdrive-field-container .sprite-pptx,
.gdrive-field-container .sprite-jpg,
.gdrive-field-container .sprite-jpeg,
.gdrive-field-container .sprite-png,
.gdrive-field-container .sprite-gif,
.gdrive-field-container .sprite-ico,
.gdrive-field-container .sprite-txt {
  width: 16px;
  height: 16px;
}

.gdrive-field-container .sprite-download {
  background-position: -5px -5px;
}

.gdrive-field-container .sprite-pdf {
  background-position: -5px -31px;
}

.gdrive-field-container .sprite-drive-download {
  background-position: -31px -5px;
}

.gdrive-field-container .sprite-doc,
.gdrive-field-container .sprite-docx,
.gdrive-field-container .sprite-xls,
.gdrive-field-container .sprite-xlsx {
  background-position: -57px -5px;
}

.gdrive-field-container .sprite-ppt,
.gdrive-field-container .sprite-pptx {
  background-position: -57px -31px;
}

.gdrive-field-container .sprite-txt {
  background-position: -57px -57px;
}

.gdrive-field-container .sprite-jpg,
.gdrive-field-container .sprite-jpeg,
.gdrive-field-container .sprite-png,
.gdrive-field-container .sprite-gif,
.gdrive-field-container .sprite-ico {
  background-position: -31px -57px;
}
